<app-header [title]="titleList" [hasReturn]="true"></app-header>
<ion-content>
  <ion-item>
    <ion-label>Filtrar por categoría</ion-label>
    <ion-select
      [(ngModel)]="selectedCategoryId"
      [interfaceOptions]="{ header: 'Selecciona una categoría' }"
      [okText]="'Aceptar'"
      [cancelText]="'Cancelar'"
      (ionChange)="filterTasks()">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ng-container *ngFor="let task of filteredTasks">
      <ng-container *ngIf="!task.completed">
        <ion-item-sliding>
          <ion-item>
            <ion-checkbox slot="start" (click)="toggleTaskCompletion(task.id)" [checked]="task.completed">
            </ion-checkbox>
            <ion-label (click)="toggleTaskCompletion(task.id)">{{ task.name }}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTask(task.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ng-container>

    <ng-container *ngFor="let task of filteredTasks">
      <ng-container *ngIf="task.completed">
        <ion-item-sliding>
          <ion-item>
            <ion-checkbox slot="start" (click)="toggleTaskCompletion(task.id)" [checked]="task.completed">
            </ion-checkbox>
            <ion-label (click)="toggleTaskCompletion(task.id)">{{ task.name }}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteTask(task.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>

<app-add-task (taskAdded)="addTask($event)" (categoryUpdated)="onCategoryUpdated()"></app-add-task>
