/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

ion-modal {
  --height: 46%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: var(--ion-background-transparency);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(var(--ion-color-primary));
  --color: var(--ion-color-primary);
}

.btn-primary-style {
  font-size: 17px !important;
}

ion-item-divider {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  color: var(--ion-color-primary);
  font-size: var(--divider-font-size);
  font-weight: var(--divider-font-weight);
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

ion-icon {
  font-size: 24px;
}

.alert-title.sc-ion-alert-ios {
  font-size: 1.2em;
  color: var(--ion-color-primary);
  text-align: center;
}

.alert-head .sc-ion-alert-md {
  font-size: 1.2em;
  color: var(--ion-color-primary);
  text-align: center;
}

.ion-valid {
  --highlight-color: var(--ion-color-primary);
}

@media (prefers-color-scheme: dark) {
  ion-item-divider {
    background-color: #292929;
  }

  ion-modal::part(backdrop) {
    background: var(--ion-background-transparency-dark-mode);
  }
}
